## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/Jeremy/Desktop/SKOOL/DA_Bootcamp/Python Module/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Samarai,PG,82.63,broken clouds,-10.6167,150.6667,Nuli Sapi
1,2,Cusuna,HN,81.25,overcast clouds,15.8500,-85.2333,San Francisco de la paz
2,5,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,7,Makakilo City,US,83.01,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
4,17,Hilo,US,82.27,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Flagstaff", :]
vacation_end = vacation_df.loc[vacation_df["City"]=="Flagstaff", :]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Half Moon Bay", :]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Susanville", :] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Jackson", :] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
114,416,Flagstaff,US,88.59,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start[['Lat','Lng']].to_numpy()[0,0], vacation_start[['Lat','Lng']].to_numpy()[0,1]))
end = ((vacation_end[['Lat','Lng']].to_numpy()[0,0], vacation_end[['Lat','Lng']].to_numpy()[0,1]))
stop1 = ((vacation_stop1[['Lat','Lng']].to_numpy()[0,0], vacation_stop1[['Lat','Lng']].to_numpy()[0,1]))
stop2 = ((vacation_stop2[['Lat','Lng']].to_numpy()[0,0], vacation_stop2[['Lat','Lng']].to_numpy()[0,1]))
stop3 = ((vacation_stop3[['Lat','Lng']].to_numpy()[0,0], vacation_stop3[['Lat','Lng']].to_numpy()[0,1]))

#end = pd.Series([vacation_end['Lat'], vacation_end['Lng']]).to_numpy()
#stop1 = pd.Series([vacation_stop1['Lat'], vacation_stop1['Lng']]).to_numpy() 
#stop2 = pd.Series([vacation_stop2['Lat'], vacation_stop2['Lng']]).to_numpy()
#stop3 = pd.Series([vacation_stop3['Lat'], vacation_stop3['Lng']]).to_numpy()
#start = pd.Series([vacation_start['Lat'], vacation_start['Lng']]).to_numpy()

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
start = start
end = end

directions_layer = gmaps.directions_layer(start, end, waypoints=([stop1, stop2, stop3]), travel_mode='DRIVING')
fig2.add_layer(directions_layer)
fig2

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,416,Flagstaff,US,88.59,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff
1,245,Half Moon Bay,US,89.58,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,373,Susanville,US,84.90,clear sky,40.4163,-120.6530,Comfort Inn & Suites
3,173,Jackson,US,83.16,clear sky,42.4165,-122.8345,Agate Village Apartments

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))